
body {
    background-color: aliceblue;
}

.main {
    margin: 5rem auto;
    text-align: center;
}

.input_div {
    margin: 3rem 0;
}

.bmp_table {
    margin: 3rem auto;
    border: 1px solid black;
}

.bmp_table th,
.bmp_table td {
    padding: 0.5rem;
    border: 1px solid black;
}

td.disable {
    background-color: rgba(0, 0, 0, 0.3);
}
